<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>阿丑托福</title>
		<link rel="stylesheet" type="text/css" href="../../assets/css/global.css"/>
		<link rel="stylesheet" href="MB.css" />
		<script type="text/javascript" src="MB.js" ></script>
	</head>
	<body>
		<!--头部标题-->
		<div class="layout top_slogan">
			<div class="container">
				
			</div>
		</div>
		<!--头部导航-->
		<div class="layout">
			<div class="container">
				
			</div>
		</div>
		<!--banner-->
		<div class="layout">
			<div class="container">
				
			</div>
		</div>
		<!--中间内容-->
		<div class="layout">
			<div class="container">
				
			</div>
		</div>
		<!--底部-->
		<div class="layout">
			<div class="container">
				
			</div>
		</div>
	</body>
</html>
