.top_slogan {
	background-color: #e0e0e0;
}

.slogan h2 {
	height: 42px;
	line-height: 42px;
	display: inline-block;
	width: 60%;
	margin-right: 4%;
}

.operation {
	width: 26%;
	position: absolute;
	right: 0;
	top: 0;
}

.register,
.role {
	width: 50%;
	display: inline-block;
	float: left;
	height: 42px;
	line-height: 42px;
}

.register span,
.role a {
	margin: 0 3px;
	cursor: pointer;
}

.register {
	text-align: left;
}

.role {
	text-align: right;
}