<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>阿丑托福</title>
		<link rel="stylesheet" type="text/css" href="../../assets/css/global.css" />
		<link rel="stylesheet" href="index.css" />
		<script type="text/javascript" src="index.js"></script>
	</head>

	<body>
		<!--头部标题-->
		<div class="layout top_slogan">
			<div class="container">
				<div class="layout slogan">
					<h2>
					IELTS.com旗下雅思口语独立品牌
				</h2>
					<div class="layout operation">
						<div class="layout register">
							<span class="" title="使用腾讯QQ登录">QQ</span>
							<span class="" title="使用新浪微博登录">新浪</span>
						</div>
						<div class="layout role">
							<a href="javascript:;">登录</a>
							<a href="javascript:;">注册</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--头部导航-->
		<div class="layout">
			<div class="container">
				
			</div>
		</div>
		<!--banner-->
		<div class="layout">
			<div class="container">
				
			</div>
		</div>
		<!--中间内容-->
		<div class="layout">
			<div class="container">
				
			</div>
		</div>
		<!--底部-->
		<div class="layout">
			<div class="container">
				
			</div>
		</div>
	</body>

</html>